div#socnami-header

div#socnami-wrapper
	
	div#socnami-launcher
		
		div#socnami-launcher-handle
			span="open"
		
		div#socnami-launcher-desktop.clear
			div.launcher-icon(data-type='facebook')
			div.launcher-icon
			div.launcher-icon
			div.launcher-icon
			div.launcher-icon
			div.launcher-icon
		
		div#socnami-launcher-menu
			span='More Modules >'
	
	div#socnami-viewport
	
div#socnami-footer
	h1='SOCNAMI'