!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/common/reset.css')
		link(rel='stylesheet', href='/css/themes/darkbeach/darkbeach.css')
		link(rel='stylesheet', href='/css/modules/pong.css')
		script(src="/socket.io/socket.io.js")
		script(src="/js/libraries/jquery.js")
		script(src="/js/libraries/highcharts.js")
		script(src="/js/modules/pong.js")
	body!= body