!!!
html
	head

	if env == 'development'
		each css in cssFiles
			link(rel='stylesheet', href='styles/#{css}')

	body!= body
		script(src="/socket.io/socket.io.js")
	
	if env == 'development'
		each script in jsFiles
			script(src="js/#{script}")
		