!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/common/reset.css')
		link(rel='stylesheet', href='/css/common/layout.css')
		link(rel='stylesheet', href='/css/common/page.css')
		link(rel='stylesheet', href='/css/common/module.css')
		link(rel='stylesheet', href='/css/common/menu.css')
		link(rel='stylesheet', href='/css/themes/darkbeach/darkbeach.css')
		link(rel='stylesheet', href='/css/modules/facebook.css')
	body!= body
	script(src="/socket.io/socket.io.js")
	script(src="/js/libraries/jquery.js")
	script(src="/js/libraries/jquery-ui.js")
	script(src="/js/libraries/jquery-cookie.js")
	script(src="/js/libraries/underscore.js")
	script(src="/js/libraries/backbone.js")
	script(src="/js/libraries/backbone.localstore.js")
	script(src="/js/libraries/highcharts.js")
	script(src="/js/classes/util.js")
	script(src="/js/classes/template.js")
	script(src="/js/application/application.js")
	script(src="/js/application/models/definitions-model.js")
	script(src="/js/application/models/settings-model.js")
	script(src="/js/application/models/account-model.js")
	script(src="/js/application/models/page-model.js")
	script(src="/js/application/models/module-model.js")
	script(src="/js/application/models/menu-model.js")
	script(src="/js/application/elements/page.js")
	script(src="/js/application/elements/menu.js")
	script(src="/js/application/elements/module.js")