<!-- #template name="footer" -->
<div id="footer-pages"></div>
<div id="footer-add-page">&plus;</div>
<h1>SOCNAMI</h1>

<!-- #template name="page-tab" -->
<div class="page-tab-menu">
	<span class="page-rename">Rename</span>
	<span class="page-delete">Delete</span>
</div>
<div class="page-name"><%= data.name %></div>

<!-- #template name="app-menu" -->
<div class="app-menu-content"></div>
<div class="app-menu-handle">
	<div class="handle-text"><%= data.get('text') %></div>
</div>

<!-- #template name="app-menu-launcher" -->
<div class="launcher-list">
	<% printTemplate('launcher-item', data.modules); %>
</div>

<!-- #template name="launcher-item" -->
<div class="list-item" data-type="<%= data.type %>">
	<%= data.title %>
</div>

<!-- #template name="app-menu-settings" -->
<div class="settings-list">
	<% printTemplate('settings-item', data.settings); %>
</div>

<!-- #template name="settings-item" -->
<div class="list-item" data-type="<%= data.type %>">
	<%= data.text %> <input <% if (data.value) { print('checked="checked"') }; %> type="checkbox" />
</div>

<!-- #template name="app-menu-account" -->
<div class="launcher-list">
</div>
