<!-- #template name="module" -->
<div class="module-border"></div>
<div class="module-header">
	<%= data.title %>
	<div class="module-close">&times;</div>
</div>
<div class="module-body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam elit, elementum vitae luctus ut, euismod hendrerit eros. Curabitur et tellus metus, ut eleifend lorem. Suspendisse cursus quam tempus purus tristique consequat vitae vitae elit. Phasellus cursus, orci sed tincidunt dictum, nulla eros sollicitudin orci, non auctor turpis nisl non nisi. Nam vel condimentum felis. Nam eget purus sit amet velit sodales egestas eu ut tortor. Pellentesque vitae quam ac enim condimentum dignissim. Duis sodales mauris sed nibh tristique vel semper nibh feugiat.
</div>