<!-- #template name="module" -->
<div class="module-border"></div>
<div class="module-header">
	<%= data.title %>
	<div class="module-close">&times;</div>
</div>

<!-- #template name="module-twitter" -->
<div class="twitter-login">twitter</div>

<!-- #template name="module-empty" -->
<div>EMPTY</div>