.app-menu {
	box-shadow: 3px 3px 12px #222222;
    position: absolute;
    width: 300px;
    z-index: 10;
}
.app-menu-handle {
	border-radius: 0 0 7px 7px;
	box-shadow: 3px 3px 12px #222222;
	bottom: -25px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: 0;
	width: 80px;
	z-index: -1;
}
.app-menu-handle .handle-text {
	font-size: 12px;
	padding-top: 5px;
	text-align: center;
}
.app-menu-content {

}

.app-menu.closed {
	box-shadow: none;
}

/* launcher */
.launcher-list {
	padding: 12px 0;
}
.settings-list {
	padding: 12px 0;
}
.list-item {
	border: 1px solid;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	font-size: 12px;
	margin: 6px 12px;
	padding: 10px 20px;
}
.list-item:hover {
}
.list-item select,
.list-item input {
	float: right;
	margin-top: -1px;
}
