.darkbeach { background-color: #202020; }

.darkbeach #socnami-header { background-color: #202020; }
.darkbeach #socnami-header h1 { color: #8EC1DA; }

.darkbeach #socnami-panel { background-color: #2c2c2c; background-image: -moz-linear-gradient(top, #333, #202020); border-color: #444;}

.darkbeach #socnami-wrapper { background-color: #C2E3EA; border-color: #434346; background-image: -moz-linear-gradient(center top, #7DC5D4, #EBF4F6 90%, #FFC87C 150%) }
.darkbeach #socnami-screen { background-color: #7DC5D4; }

.darkbeach #socnami-footer { background-color: #333; border-color: #444; }

.darkbeach .app-menu-content,
.darkbeach .app-menu-handle { background-color: #EBF4F6; color: #333; }

.darkbeach .app-menu-content .list-item { background-color: #C5E0CB; }
.darkbeach .open .app-menu-content .list-item:hover { background-color: #BDFF7C; }
	
.darkbeach #page-menu,
.darkbeach #page-menu .page-tab,
.darkbeach .module-body { border-color: #444; color: #ccc; }

.darkbeach .module-body { background-color: #202020 }

.darkbeach .page-tab-menu { background: #202020; border-color: #444444; color: #FFFFFF; }

.darkbeach #page-menu .page-tab.active { background-color: #ECF4F6; background-image: -moz-linear-gradient(center top , #EFEEE3, #EBF4F6 31%); color: #000; }

.darkbeach #page-menu-add-page { background: #222222; border-color: #444444; color: #7DC5D4; }
.darkbeach #page-menu-add-page:hover { color: #eee; }

.darkbeach .ui-sortable-placeholder { background: #ccc; border: 1px dashed #000; opacity: .5}

.darkbeach .page-tab .page-tab-menu span.page-rename:hover { color: #C6A573 }
.darkbeach .page-tab .page-tab-menu span.page-delete:hover { color: #FF6060 }

.darkbeach .module-close:hover { color: #FF6060 }