.darkbeach #socnami-wrapper,
.darkbeach .page-tab.active,
.darkbeach { background-color: #434346; border-color: #434346; color: #eee; }

.darkbeach #header-panel, 
.darkbeach #socnami-footer { background-color: #8E998F; border-color: #444; }

.darkbeach .app-menu-content,
.darkbeach .app-menu-handle { background-color: #eee; color: #333; }

.darkbeach #footer-pages,
.darkbeach .page-tab,
.darkbeach .module-body { border-color: #111; }

.darkbeach .module-header { background-color: #111 }

.darkbeach .ui-sortable-placeholder { border: 1px dashed #eee; }

.darkbeach .page-tab .page-tab-menu span.page-rename:hover { color: #C6A573 }
.darkbeach .page-tab .page-tab-menu span.page-delete:hover { color: #FF6060 }

.darkbeach .module-close:hover { color: #FF6060 }