body {
	font-family: "Georgia";
}

/* SOCNAMI */
#socnami {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	}

#socnami-header {
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 21;
	}
	#header-panel {
		border-bottom: 1px solid;
		border-right: 1px solid;
		border-radius: 0 0 50px 0;
		bottom: 0;
		height: 50px;
		left: 0;
		position: absolute;
		right: 350px;
		top: -30px;
		}

#socnami-wrapper {
	bottom: 35px;
	left: 0;
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 20;
	}
	#socnami-viewport {
		bottom: 0;
		left: 0;
		overflow: auto;
		padding: 20px 0;
		position: absolute;
		right: 0;
		top: 0;
		}

#socnami-footer {
	border-top: 1px solid;
	bottom: 0;
	height: 35px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 21;
	}
	#socnami-footer h1 {
		padding: 10px;
		width: 300px;
		}
	#footer-add-page{
		border-left: 1px solid;
		cursor: pointer;
		float: right;
		font-size: 20px;
		padding: 7px 7px 10px;
		}
			
#socnami-cover {
	background: #000;
	bottom: 0;
	display: none;
	left: 0;
	opacity: .8;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	}
	#socnami-cover h1 {
		color: #FFFFFF;
		font-size: 30px;
		margin: auto;
		padding: 100px 0 10px;
		width: 340px;
		}

#login {
	background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	color: #333;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
	}
	#login .login-input {
		padding: 10px 0;
		}
		#login .login-input input{
			float: right;
			font-size: 14px;
			height: 17px;
			margin-top: -10px;
			padding: 3px;
			width: 200px;
			}
	#login.loading .login-input,
	#login.loading #login-submit,
	#login .msg-loading,
	#login .msg-error {
		display: none;
		}
	#login .msg-error {
		color: #aa0000;
		}
	#login.loading .msg-loading,
	#login.error .msg-error {
		display: block;
		font-size: 13px;
		padding: 0px 3px 10px;
		text-align: center;
		}
	#login-submit {
		float: right;
		margin-top: 10px;
		}
	#login h2 {
		padding: 10px 0 20px 0;
		}
