/* SOCNAMI */
#socnami-header {
	background: #ddd;
	border-bottom: 1px solid #000;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 21;
}

#socnami-wrapper {
	bottom: 35px;
    left: 0;
    position: absolute;
    right: 0;
    top: 21px;
	z-index: 20;
}

#socnami-viewport {
	bottom: 0;
    left: 0;
	overflow: auto;
	padding: 10px 0;
    position: absolute;
    right: 0;
    top: 0;
}

#socnami-footer {
	background: #ccc;
	bottom: 0;
	height: 35px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	z-index: 21;
	}
	#socnami-footer h1 {
		padding: 10px;
		width: 300px;
		}
	#footer-add-page{
		background: #aaa;
		cursor: pointer;
		float: right;
		font-size: 30px;
		padding: 4px 16px;
		}
	#footer-pages {
		border-left: 1px solid;
		border-top: 1px solid;
		float: right;
		}
		.page-tab {
			background: #ddd;
			border-right: 1px solid;
			cursor: pointer;
			float: left;
			margin-top: -1px;
			padding: 10px;	
			}
		.page-tab.active {
			background: #fff;
			}
