/* SOCNAMI */
#socnami-header {
	background: #ddd;
	border-bottom: 1px solid #000;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#socnami-wrapper {
	bottom: 40px;
    left: 0;
	overflow: hidden;
    position: absolute;
    right: 0;
    top: 21px;
}

#socnami-viewport {
	
}

#socnami-footer {
	background: #ddd;
	border-top: 1px solid #000;
	bottom: 0;
	height: 35px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	}
	#socnami-footer h1 {
		padding: 10px;
		width: 300px;
		}
	#footer-add-page{
		background: none repeat scroll 0 0 #aaa;
		float: right;
		font-size: 30px;
		padding: 4px 16px;
		}
	#footer-pages {
		border-left: 1px solid;
		float: right;
		}
