.app-menu {
	background: none repeat scroll 0 0 #CCCCCC;
    position: absolute;
    width: 300px;
    z-index: 10;
	}
	.app-menu-handle {
		background: none repeat scroll 0 0 #000000;
		bottom: -25px;
		color: #FFFFFF;
		cursor: pointer;
		height: 25px;
		position: absolute;
		right: 0;
		width: 70px;
		}
		.app-menu-handle .handle-text {
			padding-top: 7px;
			text-align: center;
			}
	.app-menu-content {

		}
		
/* launcher */
.launcher-list {
	padding: 12px 0;
	}
	.launcher-item {
		background: #ddd;
		border: 1px solid #999999;
		cursor: pointer;
		margin: 5px 12px;
		padding: 20px;
		}
	
.ui-effects-transfer { border: 2px dotted gray; } 
