.app-menu {
	background: none repeat scroll 0 0 #CCCCCC;
    position: absolute;
    width: 300px;
    z-index: 10;
	}
	.app-menu-handle {
		border-radius: 0 0 7px 7px;
		bottom: -25px;
		color: #FFFFFF;
		cursor: pointer;
		height: 25px;
		position: absolute;
		right: 0;
		width: 80px;
		}
		.app-menu-handle .handle-text {
			padding-top: 5px;
			text-align: center;
			}
	.app-menu-content {

		}
		
/* launcher */
.launcher-list {
	padding: 12px 0;
	}
.settings-list {
	padding: 12px 0;
	}
.list-item {
	background-color: #DDDDDD;
	border: 1px solid #999999;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	font-size: 14px;
	margin: 6px 12px;
	padding: 10px 20px;
	}
.list-item:hover {
	background-color: #C6A573;
	}
	.list-item input {
		float: right;
		}
