.module {
	margin-bottom: 14px;
	display: none;
	}
	.module-header {
		color: #fff;
		padding: 10px;
		position: relative;
		}
		.module-close {
			cursor: pointer;
			float: right;
			padding: 3px 7px;
			position: absolute;
			right: -1px;
			top: -1px;
			}
	.module-body {
		background: #fff;
		border: 5px solid #000;
		border-top: none;
		color: #000;
		padding: 15px;
	}
	
.ui-sortable-placeholder {
	margin-bottom: 14px
}