.page {
	height: auto;
	}

.page-tab {
	border-right: 1px solid #000;
	cursor: pointer;
    float: left;
    padding: 10px;	
	}

.column {
    float: left;
    margin-left: 14px;
    min-height: 300px;
	padding-bottom: 50px;
    width: 300px;
}

