.page {
	height: auto;
	}

.column {
    float: left;
    margin-left: 14px;
    min-height: 300px;
	padding-bottom: 50px;
    width: 300px;
}

#page-menu-add-page{
	border-left: 1px solid;
	cursor: pointer;
	float: right;
	font-size: 20px;
	padding: 7px 7px 10px;
	}

#page-menu {
	border-left: 1px solid;
	float: left;
	margin-left: 15px;
	}
	.page-tab {
		border-right: 1px solid;
		cursor: pointer;
		float: left;
		font-size: 14px;
		padding: 8px 0;
		text-align: center;
		width: 100px;
		}
		.page-tab .page-tab-menu {
			background: #000;
			border-radius: 5px 5px 0 0;
			color: #FFFFFF;
			display: none;
			height: 20px;
			padding: 0 2px;
			position: absolute;
			top: -20px;
			width: 96px;
			}
		.page-tab .page-tab-menu span{
			font-size: 9px;
			padding: 4px 5px;
			}
